Python 3.6.8 / (3.7.12?)
Tensorflow Version 2.6.2 / (2.7.0?)

tkinter ?

повернуть изображения - https://stackoverflow.com/questions/57497695/2d-x-ray-reconstruction-from-3d-dicom-images

Набор данных LUNG_SPECT_CT содержит 199 Dicom файлов, где: 
- 6 файлов ОФЭКТ. В каждом по сколько-либо изображений 128x128 
- 193 КТ изображения 512х512